@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?51tt3d');
  src:  url('../fonts/icomoon.eot?51tt3d#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?51tt3d') format('truetype'),
    url('../fonts/icomoon.woff?51tt3d') format('woff'),
    url('../fonts/icomoon.svg?51tt3d#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\f002";
}
.icon-envelope-o:before {
  content: "\f003";
}
.icon-map-marker:before {
  content: "\f041";
}
.icon-chevron-up:before {
  content: "\f077";
}
.icon-phone-square:before {
  content: "\f098";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-facebook-f:before {
  content: "\f09a";
}
.icon-chevron-circle-down:before {
  content: "\f13a";
}
.icon-dribbble:before {
  content: "\f17d";
}
.icon-google:before {
  content: "\f1a0";
}
.icon-fax:before {
  content: "\f1ac";
}
