@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?51tt3d');
  src:  url('../fonts/icomoon.eot?51tt3d#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?51tt3d') format('truetype'),
    url('../fonts/icomoon.woff?51tt3d') format('woff'),
    url('../fonts/icomoon.svg?51tt3d#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

*,
*:after,
*:before {
	box-sizing: border-box;
}

body {
	font: 14px/1.43 Lato, sans-serif;
	color: #444;
	background: #fff;
	margin: 0;
}

img {
	border: 0;
}

form,
fieldset {
	margin: 0;
	padding: 0;
	border: 0;
}

a {
	color: #50b392;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.container {
	max-width: 940px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header {
	padding: 27px 0;
	background: #fff;
}

.nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
}

.nav ul li {
	margin: 0 0 0 10px;
}

.nav ul a {
	color: #444;
	display: block;
	padding: 10px 12px;
	text-transform: uppercase;
	line-height: 17px;
	transition: color 0.3s ease, background 0.3s ease;
}

.nav ul a:hover {
	background: #1bbc9b;
	color: #fff;
	text-decoration: none;
}

.visual {
	height: calc(100vh - 106px);
	display: flex;
}

.visual img {
	position: fixed;
	top: 50%;
	z-index: -1;
	min-width: 100%;
	min-height: 100%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.video-container {
	max-width: 600px;
	margin: auto;
	font-size: 18px/1.5;
	color: #fff;
	flex-direction: column;
	display: flex;
	align-items: center;
}

.video-container h1 {
	font-weight: 100;
	font-size: 55px;
	margin: 0 0 10px;
	display: flex;
}

.video-container a {
	text-decoration: none;
}

.btn {
	color: #fff;
	background: #1bbc9b;
	display: inline-block;
	padding: 10px 12px;
	text-transform: uppercase;
	line-height: 17px;
	margin: 40px 0;
	font-weight: bold;
	font-size: 13px;
    transition: all 0.3s ease;
}

.btn:hover {
	text-decoration: none;
	background: #16a086;
}

.scroll-to {
	font-size: 50px;
	color: #fff;
	transition: color 0.3s ease;
}

.scroll-to:hover {
	color: #1bbc9b;
}

.section {
	min-height: 100vh;
	display: flex;
	background: #fff;
	padding: 50px 0;
}

.section.section-green {
	background: #16a086;

}

.section-green .header-section {
	color: #fff;
}

.person-block {
	background: #fff;
	flex-basis: 24%;
}

.person-block .image {
	position: relative;
}

.person-block .image img {
	display: block;
	width: 100%;
	height: auto;
}

.person-block .social {
	list-style: none;
	padding: 5px;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	background: rgba(22, 160, 134, 0.5);
	display: flex;
	transform: translate(-50%, -50%);
	opacity: 0;
	transition: opacity 0.3s ease;
}

.person-block .image:hover .social {
	opacity: 1;
}

.person-block .social li {
	margin: 0 5px;
}

.person-block .social li a {
	color: #fff;
}

.person-info h2 {
	margin: 0;
	text-align: center;
	font-size: 18px;
	font-weight: 400;
}

.person-info .position {
	font-style: italic;
	display: block;
	text-align: center;
	margin: 0 0 15px;
}

.person-info {
	padding: 15px 10px;
}

.person-info p {
	font-size: 14px;
}

.people-holder {
	display: flex;
	justify-content: space-around;
}

.header-section {
	font-size: 16px;
	text-align: center;
	margin: 0 0 35px;
}

.section .container {
	margin: auto;
	width: 100%;
	flex-direction: column;
}

.header-section h1 {
	margin: 0 0 10px;
	font-size: 28px;
	font-weight: 400;
}

.header-section p {
	margin: 0;
}

.filter-list {
	list-style: none;
	margin: 0 0 20px;
	display: flex;
	justify-content: center;
	padding: 0;
}

.filter-list li {
	margin: 0 5px;
	text-transform: uppercase;
}

.filter-list a {
	line-height: 17px;
	padding: 10px;
	background: #1bbc9b;
	color: #fff;
	display: block;
	transition: background 0.3s ease;
}

.filter-list li.active a,
.filter-list li a:hover {
	text-decoration: none;
	background: #16a086;
}

.portfolio-item {
	position: relative;
	width: 180px;
	height: 180px;
	margin: 0 30px 30px;
}

.portfolio-item .static img {
	display: block;
	width: 180px;
	height: 180px;
	border-radius: 100%;
}

.portfolio-item .hover {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(22, 160, 134, 0.75);
	border-radius: 100%;
	color: #fff;
	display: flex;
	text-align: center;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transform: translateY(-100%);
	opacity: 0;
	visibility: hidden;
	transition: transform 0.6s cubic-bezier(.91, .33, .42, 1.54), opacity 0.3s ease;
}

.portfolio-item .hover p {
	margin: 0;
}

.portfolio-item .hover h2 {
	font-weight: 400;
	font-size: 18px;
	margin: 0;
}

.portfolio-item:hover .hover {
	transform: translateY(0);
	opacity: 1;
	visibility: visible;
}

.portfolio-item .icon-search {
	font-size: 21px;
	width: 43px;
	height: 43px;
	line-height: 21px;
	padding: 11px 0;
	text-align: center;
	background: rgba(68, 68, 68, 0.61);
	border-radius: 100%;
	margin: 0 0 15px;
	color: #fff;
	display: block;
}

.portfolio-item a:hover {
	text-decoration: none;
}

.portfolio-item a:hover .icon-search {
	color: #1bbc9b;
}

.portfolio {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 -30px;

}

.contact-us {
	background-color: #ecf0f1;
}

.contact-form {
	display: flex;
	flex-flow: row wrap;
	width: 462px;
	justify-content: flex-end;
	float: left;
	margin-right: 19px;
}

.contact-form input[type=name],
.contact-form input[type=email] {
	background-color: #fff;
	border: 2px solid #bec3c7;
	width: 220px;
	height: 43px;
	padding: 14px 12px;
	margin-bottom: 22px;
}

.contact-form input[type=name] {
	margin-right: 20px;
}

.contact-form textarea {
	background-color: #fff;
	border: 2px solid #bec3c7;
	width: 460px;
	height: 153px;
	resize: none;
	padding: 14px 12px;
	margin-bottom: 23px;
}

.contact-form button[type=submit] {
	width: 114px;
	height: 37px;
	background-color: #1bbc9b;
	color: #fff;
	font: bold 13px Lato, sans-serif;
	text-transform: uppercase;
	border: none;
	letter-spacing: 1px;
	cursor: pointer;
}

.btn-nav {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 40px;
	height: 40px;
	background: rgba(255, 255, 255, 0.4);
	border-radius: 5px;
}

.btn-nav span,
.btn-nav:after,
.btn-nav:before {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	height: 4px;
	background: #16a086;
	top: 50%;
	margin-top: -2px;
	border-radius: 5px;
	transition: all 0.3s ease;
}

.btn-nav:after {
	margin: 7px 0 0;
}

.btn-nav:before {
	margin-top: -11px;
}

.btn-nav:hover span {
	opacity: 0;
}

.btn-nav:hover:after {
	transform: rotate(-45deg);
	margin: 0;
}

.btn-nav:hover:before {
	transform: rotate(45deg);
	margin: 0;
}

.location ul,
.contacts ul {
	list-style: none;
}

.location ul li:first-child:before {
	content: "\f041";
}

.information {
	float: right;
	font: 400 14px Lato, sans-serif;
}

.information h1 {
	font: 400 14px Lato, sans-serif;
	text-transform: uppercase;
}

@media all and (max-width: 767px) {
	.btn-nav {
		display: block;
	}
	
}